<div class="sidenav-container">
  <div class="logo-container">
    <h1 class="logo">Twinterior</h1>
  </div>
  
  <mat-nav-list class="nav-items">
    <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
      <mat-icon matListItemIcon>home</mat-icon>
      <span matListItemTitle>Página Inicial</span>
    </a>
    
    <a mat-list-item routerLink="/explorar" routerLinkActive="active">
      <mat-icon matListItemIcon>search</mat-icon>
      <span matListItemTitle>Explorar</span>
    </a>
    
    <a mat-list-item routerLink="/notificacoes" routerLinkActive="active">
      <mat-icon matListItemIcon>notifications</mat-icon>
      <span matListItemTitle>Notificações</span>
    </a>
    
    <a mat-list-item routerLink="/mensagens" routerLinkActive="active">
      <mat-icon matListItemIcon>email</mat-icon>
      <span matListItemTitle>Mensagens</span>
    </a>
    
    <a mat-list-item *ngFor="let item of menuItems" [routerLink]="item.route" routerLinkActive="active">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle>{{ item.label }}</span>
    </a>
    
    <a mat-list-item routerLink="/perfil" routerLinkActive="active">
      <mat-icon matListItemIcon>person</mat-icon>
      <span matListItemTitle>Perfil</span>
    </a>
  </mat-nav-list>
  
  <div class="post-button-container">
    <button mat-raised-button color="primary" class="post-button" routerLink="/criar-post">
      Postar
    </button>
  </div>
</div>